<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> KFC Beverages</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="kfc-canteen-Beverages">

<nav>
  <a href="{{ url_for('kfc_canteen') }}">⬅ Back to Canteen</a>
</nav>

<header>
  <h1> KFC Beverages</h1>
</header>

<div class="container">
  <div class="card">Coca Cola - ₹20</div>
  <div class="card">Sprite - ₹20</div>
  <div class="card">Mango Juice - ₹50</div>
  <div class="card">Orange Juice - ₹50</div>
  <div class="card">watermelon - ₹60</div>
  <div class="card">recharge - ₹10</div>
  <div class="card">thumbs up - ₹20</div>
</div>

</body>
</html>
