<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> kfc snacks</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="kfc-canteen-snacks">

<nav>
  <a href="{{ url_for('kfc_canteen') }}">⬅ Back to Canteen</a>
</nav>

<header>
  <h1>snacks</h1>
</header>

<div class="container">
  <div class="card">chocolates - ₹40</div>
  <div class="card">lays - ₹10</div>
  <div class="card">biscuits - ₹20</div>
  <div class="card">scoops - ₹30</div>
  <div class="card">cone icecream - ₹40</div>
</div>

</body>
</html>
