<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mess Breakfast</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="Mess-breakfast">

<nav>
  <a href="{{ url_for('Mess') }}">⬅ Back to Mess Menu</a>
</nav>

<header>
  <h1>Mess Breakfast</h1>
</header>

<div class="container">
  <div class="card">Idly</div>
  <div class="card">Bonda</div>
  <div class="card">Gharelu</div>
  <div class="card">Dosa</div>
  <div class="card">Uttapam</div>
  <div class="card">Pesarattu</div>
  <div class="card">Upma</div>
  <div class="card">Milk</div>
  <div class="card">Coffee</div>
  <div class="card">Tea</div>
</div>

</body>
</html>
