<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mess Lunch</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="Mess-lunch">

<nav>
  <a href="{{ url_for('Mess') }}">⬅ Back to Mess Menu</a>
</nav>

<header>
  <h1>Mess Lunch</h1>
</header>

<div class="container">
  <div class="card">Flavoured Rice</div>
  <div class="card">White Rice</div>
  <div class="card">Curries</div>
  <div class="card">South Indian Soups</div>
  <div class="card">Yogurt</div>
  <div class="card">Sweets</div>
</div>

</body>
</html>
