<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> KFC Fastfood</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="kfc-canteen-Fastfood">

<nav>
  <a href="{{ url_for('kfc_canteen') }}">⬅ Back to Canteen</a>
</nav>

<header>
  <h1>Fastfood</h1>
</header>

<div class="container">
  <div class="card">chicken biriyani - ₹140</div>
  <div class="card">chicken friedrice - ₹120</div>
  <div class="card">chicken manchuriya - ₹110</div>
  <div class="card">egg puff - ₹25</div>
  <div class="card">chicken frankie - ₹70</div>
</div>

</body>
</html>
